<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block head %}
        <title>Vote | {{  constant('site_title') }}</title>
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{{ stylesheet('argon.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('all.min.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('custom.css') }}" />

    {%  if constant("dark_mode") %}
    <link rel="stylesheet" type="text/css" href="{{ stylesheet('bootstrap.dark.css') }}" />
    {% endif %}

    <script type="text/javascript" src="{{ javascript('jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ javascript('custom.js') }}"></script>
</head>
<body>

{% block content %}
{% endblock %}

{% embed "footer.twig" %}
{% endembed %}

<script type="text/javascript" src="{{ javascript('bootstrap.bundle.min.js') }}"></script>
<script type="text/javascript" src="{{ javascript('argon.min.js') }}"></script>
</body>
</html>